# Build
bin/
obj/

# Rider
.idea/
*.sln.iml

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Logs
*.log

# macOS
.DS_Store

# ASP.NET
appsettings.Development.json

# NuGet
*.nupkg

# Test Results
TestResults/

# Coverage
coverage/

# Publish
publish/

# Temporary
tmp/
temp/